DISCORD_BOT_TOKEN=PASTE_DISCORD_BOT_TOKEN_HERE

HELLBYTEX_API_KEY=Hbx_af5f00805b26b8f11942248b42c8e2f0
HELLBYTEX_BASE_URL=https://hellbytex.online/developer_api.php

OWNER_ID=913264406912188456
DEFAULT_PREFIX=!

# Use normal crown by default. For animated custom crown use format:
# KING_EMOJI=<a:blackcrown:1543148226100600922>
KING_EMOJI=<a:blackcrown:1543148226100600922>

LOG_CHANNEL_ID=
REQUEST_METHOD=AUTO

PROFILE_API_URL=https://suyashprofileapi.vercel.app/profile
PHONE_API_URL=https://mani272api.vercel.app/api
PHONE_API_KEY=MANI-582D650A-1790068583-2D56881CE1817D8F
BAN_API_URL=https://suyashbancheck.vercel.app/check
VEHICLE_API_URL=https://all-api-by-nitin-developer-best1.binderdhaniya6.workers.dev/api
VEHICLE_API_KEY=NITIN
GEMINI_API_KEY=AIzaSy_YOUR_GEMINI_API_KEY_HERE
GEMINI_MODEL=gemini-1.5-flash

# Spotify Developer API (https://developer.spotify.com/dashboard)
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

# Lavalink Configuration (Optional - Defaults to local daemon 127.0.0.1:2333)
LAVALINK_HOST=127.0.0.1
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass
LAVALINK_SECURE=false

